@use "@/styles/shared/variables" as var;

.about{
    .content-container{
        position: relative;
        width: 100%;
        background-color: var(--color-surface);
        border: solid 1px var(--color-border);
        border-radius: 14px;
    }
}