.accordion{
    &-item {
        border-bottom: 1px solid var(--color-border);

        &:last-child{
            border-bottom: none;
        }
    }
    &-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        &.open {
            max-height: 500px;
        }
    }
}