@use "@/styles/shared/variables" as var;

.card {
    transition: 0.25s;
    
    &-container{
        border: solid 1px var(--color-border);
        border-radius: var(--radius-md);
        overflow: hidden;
    }

    &-elevated {
        background: var(--color-surface);
        box-shadow: var(--shadow-md);
    }

    &-outlined {
        background: var(--color-surface);
        border: 1px solid var(--color-border);
    }

    &-flat {
        background: transparent;
    }

    &-interactive:hover {
        // transform: translateY(-2px);
        // box-shadow: var(--shadow-lg);
        cursor: pointer;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        background-color: var(--color-bg);

        &-thumbnail{
            // background-color: pink;
            width: 100%;
            min-height: 148px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-content{
            padding: var(--space-1) var(--space-1);

            &-title{
                font-size: 14px;
                font-weight: 600;
            }
            &-subtitle{
                font-size: 14px;
                font-weight: 400;
            }
        }

        &-action{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid var(--color-border);
        background-color: var(--color-bg);
        padding: var(--space-1) var(--space-2);
    }

    &-body {
        border-top: 1px solid var(--color-border);
        background-color: var(--color-primary-bg);
        padding: var(--space-2);
    }
}


