@use "@/styles/shared/variables" as var;

.home{
    // max-width: 680px;
    // margin-inline: auto;

    .items{
        .item{
            display: grid;
            grid-template-columns: 36px 1fr 32px;
            gap: 20px;
            align-items: center;
            // background-color: pink;
            border-radius: 14px;
            padding: 12px;
            padding-right: 0;
            transition: all 0.25s ease;
            // background: var(--color-sub-bg);

            &:hover{
                background-color: var(--background);
            }

            &-header{
                img{ 
                    width: 36px; 
                }
            }
            &-body{

                .title{
                    font-size: 14px;
                    line-height: 1.5;
                    color: var(--color-text);
                }
                .sub{
                    font-size: 14px;
                    line-height: 1.2;
                    color: var(--copy);
                }
            }
            &-footer{}
        }
    }
}