@use "@/styles/shared/variables" as var;

.nav-sidebar{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    grid-area: sidebar;

    // width: 70px;
    height: 100vh;
    overflow: hidden;

    background: var(--color-surface);
    border-right: 1px solid var(--color-border);

    transform: translateX(0);
    transition: width .3s ease;

    &.closed {
        width: 70px;
        
    }
    &.open {
        width: 260px;
    }

    @media (max-width: 768px) {
        
        &.closed {
            grid-area: unset; // important
            transform: translateX(-100%);
            transition: transform .3s ease;
        }
    }
    
    &-top{
        position: relative;
        height: 64px;

        // justify-content: space-between;
        padding: 0 20px;
        transition: all 0.3s ease,;

        .hamburger{
            position: relative; 
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 40px;
            // height: 40px;
            border-radius: 100%;
            font-size: 24px;
            border: none;
            cursor: pointer;
            background: none;
        }

        .logo{
            white-space: nowrap;
            position: relative;
            top: 2px;
            font-size: 16px;
            font-weight: 600;

            & span{
                font-weight: bold;
                color: var(--brand-primary);
                white-space: nowrap;
            }
        }

        &.closed{
            justify-content: center;
        }
    }

    &-main{
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 64px);
        // max-height: 600px;
        overflow-y: auto;

        .nav-link {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 20px;
            min-height: 54px;
            font-size: 14px;
            white-space: nowrap;

            svg{
                position: absolute;
                top: 16px;
                left: 24px;
                width: 20px;
                height: 20px;
            }

            span{
                padding-left: 40px;
                transition: all 0.125s ease;
            }

            &:hover{
                background-color: var(--background);
            }

            &.active {
                background-color: var(--color-border);
                font-weight: 500;
            }

            // &.closed {
            //     span{
            //         opacity: 0;
            //     }
            // }
        }

        .btn.nav-link {
            border-radius: 0;
            width: 100%;
            color: inherit;

            &.active{
                background-color: var(--color-sub-bg);
            }
        }  
        
        .accordion-item{
            border-bottom: none;
        }

        .accordion-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            &.open {
            max-height: 500px;
            }
        }

        .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            &.open {
                max-height: 500px;
            }

            .nav-sublink {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                position: relative;
                padding: 0 20px;

                font-size: 14px;
                min-height: 44px;

                white-space: nowrap;
                width: 100%;

                svg {
                    position: absolute;
                    left: 25px;
                }

                span {
                    margin-left: 40px;
                }

                &:hover {
                    background-color: var(--background);
                }

                &.active {
                    color: var(--brand-primary);
                    span{
                        font-weight: 600;
                    }
                    // background-color: var(--color-border);
                }
            }
        }
    }


}

.nav-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 10;

    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    @media (min-width: 768px) {
        display: none;
    }
}