:root{
    --max-width      : 1240px;
    
   

    
    @media (prefers-color-scheme: dark) {
        --white             : #212121; // #191b20; 
        --whiteRGB          : 40, 40, 40;
        --gray              : #4e4e4e; // #1b1a1a;
        --black             : #ffffff;
        --blackRGB          : 255, 255, 255;
        --primaryColor      : #4880FF;
        --primaryColorRGB   : 72, 128, 255;

        --background        : #212121;
        --btn               : #4e4e4e;
    }

    @media (prefers-color-scheme: light) {
        --white             : #ffffff; // #fafbfc;
        --whiteRGB          : 250, 251, 252;
        --pureWhite         : #ffffff;
        --gray              : #f6f7f9; // #FCFDFD;
        --black             : #213547;
        --blackRGB          : 32, 33, 36;
        --primaryColor      : #4880FF;
        --copy              : #5d5d5d; // #213547;
        --copyRGB           : 93, 93, 93; // 32, 33, 36;

        --background        : #f7f8f9;
        --btn               : #e1e1e1;
    }
}

$xxl            : 1480px;
$xl             : 1376px; // 1280px;
$lg             : 960px; // 992px;
$md             : 768px;
$sm             : 415px;
$xsm            : 0px;