:root{
    --max-width         : 1240px;

    --moon-0            : #ffffff;
    --moon-50           : #f7f8f9;
    --moon-100          : #f1f5f9;
    --moon-200          : #e2e8f0;
    --moon-300          : #cbd5e1;
    --moon-500          : #64748b;
    --moon-700          : #334155;
    --moon-900          : #0f172a;
    
    --moon-0-rgb        : 255, 255, 255;
    --moon-50-rgb       : 247, 248, 249;
    --moon-900-rgb      : 15, 23, 42;

    --brand-primary     : #4880ff;
    --brand-primary-rgb : 72, 128, 255;

    --success           : #22c55e;
    --warning           : #f59e0b;
    --danger            : #ef4444;

    --radius-lg         : 21px;
    --radius-md         : 14px;
    --radius-sm         : 7px;

    --space-0           : 0px;
    --space-1           : 10px;
    --space-2           : 20px;
    --space-3           : 30px;
    --space-4           : 40px;
    --space-5           : 50px;
    
   

    /* 🌙 DARK MODE */
    @media (prefers-color-scheme: dark) {

        --color-bg              : #111111; // #09090b; // #1B2431; 
        --color-primary-bg      : #181818; // #121212;
        --color-sub-bg          : #26262a;
        --color-surface         : #212121; // #1e1e1e; // #273142;
        --color-text            : #ffffff;
        --color-text-muted      : #a1a1aa;

        --color-border          : #28272a; // #313D4F; // #2c2c2c;
        --color-button          : #333;

        --color-primary         : #6ea2ff; // #4880FF

        --black-rgb             : var(--moon-50-rgb);

        --white                 : #1e1e1e; // var(--moon-900);
        --black                 : var(--moon-0);


        // OLD
         --copy                 : #afafaf; 
        --background            : #414141; // #212121;
    }

    @media (prefers-color-scheme: light) {
       
        --color-bg              : var(--moon-50);
        --color-primary-bg      : var(--moon-0);
        --color-sub-bg          : var(--moon-50);
        --color-surface         : var(--moon-0);
        --color-text            : #213547;
        --color-text-muted      : #5d5d5d;

        --color-border          : var(--moon-200);
        --color-button          : #e1e1e1;

        --color-primary         : var(--brand-primary);

        --white                 : var(--moon-0);
        --white-rgb             : var(--moon-0-rgb);
        --sub                   : var(--moon-50);
        --sub-rgb               : var(--moon-50-rgb);
        --black                 : var(--moon-900);
        --black-rgb             : var(--moon-900-rgb);

        // OLD
        --copy              : #5d5d5d; // #213547;
        --copyRGB           : 93, 93, 93; // 32, 33, 36;
        --background        : #f7f8f9;
    }
}

$xxl            : 1480px;
$xl             : 1376px; // 1280px;
$lg             : 960px; // 992px;
$md             : 768px;
$sm             : 415px;
$xsm            : 0px;